<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666348029404-7er4mfi1hoip52a81ft66mlnqmbsomrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666348029404-7er4mfi1hoip52a81ft66mlnqmbsomrm</string>
	<key>API_KEY</key>
	<string>AIzaSyDkBbV6_WS4ncUDqI-nKQxQ59lLgCDBekk</string>
	<key>GCM_SENDER_ID</key>
	<string>666348029404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mustafaalperaydin.WallpaperApp</string>
	<key>PROJECT_ID</key>
	<string>wallpaperapp-20c22</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaperapp-20c22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666348029404:ios:f67c5120be6a1c1b567b19</string>
</dict>
</plist>